:root {
    --mainBody: #000;
    --secondBody: #333336;
    --heads: #eee;

    --tribute-info-bg: #111;

    --headText: #eee;
    --headLinks: #333;
    --list-title: skyblue;

    
    --imageDiv: #000;
    --caption: hsl(0, 0%, 80%);
    --sectionLinks: #000;
    --sectionText: rgb(221, 219, 219);
    --link:  skyblue ;
    --linkHov: #a52a2a ;
    --sectionP: rgb(41, 40, 40);
    --button: #fff;

    --next-btn-bg: #dc143c;
    --prev-btn-bg: #111;
    --next-btn: #fff;
    --prev-btn: #eee;
    --quote: #161616;

    --border: #000;

  }