:root {
  --mainBody: hsl(0, 0%, 27%);
  --secondBody: #333336;
  --heads: #eee;

  --icon: hsl(0, 0%, 93%);

  --hero-text: #eee;
  --hero-text-btn: skyblue;
  --hero-text-light: #f4f4f4;

  --hero-bg: hsl(0, 0%, 17%);
  --tribute-info-bg: #111;

  --headText: #eee;
  --headLinks: #333;
  --list-title: skyblue;


  --imageDiv: #000;
  --caption: hsl(0, 0%, 80%);
  --sectionLinks: #000;
  --sectionText: rgb(221, 219, 219);
  --link: skyblue;
  --linkHov: #a52a2a;
  --sectionP: #eee;
  --button: #fff;
  --figcaption: skyblue;
  --figcaption-bg: hsl(0, 0%, 27%);

  --next-btn-bg: skyblue;
  --prev-btn-bg: #111;
  --next-btn: #fff;
  --prev-btn: #eee;
  --quote: #161616;

  --border: #000;

}