:root {
    --mainBody: #000;
    --secondBody: #333336;
    --heads: #eee;

    --headText: #eee;
    --headLinks: #333;
    
    --imageDiv: linear-gradient(90deg, #5e5d5d, #333, #5e5d5d);
    --caption: #ddd;
    --sectionLinks: #000;
    --sectionText: rgb(221, 219, 219);
    --link:  #dc143c ;
    --linkHov: #a52a2a ;
    --sectionP: rgb(41, 40, 40);
    --button: #fff;

    --next-btn-bg: #dc143c;
    --prev-btn-bg: #111;
    --next-btn: #fff;
    --prev-btn: #eee;
    --border: #000;

  }