@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Zen+Dots&display=swap');

/* VARIABLES */
:root {
  --mainBody: #eee;
  --secondBody: #f4f4f4;
  --heads: #eee;

  --nav-bg: hsl(0, 0%, 17%);

  --icon: hsl(0, 0%, 17%);

  --hero-bg: hsl(0, 0%, 17%);
  --tribute-info-bg: #fafafa;

  --hero-text: #fafafa;
  --hero-text-light: #f4f4f4;
  --headText: #333;
  --headLinks: #333;
  --list-title: #dc143c;
  --figcaption: skyblue;
  --imageDiv: linear-gradient(90deg, #000, #111, #000);
  --caption: hsl(0, 0%, 80%);
  --sectionLinks: #333;
  --sectionText: #000;
  --link: #dc143c;
  --linkHov: #a52a2a;
  --sectionP: #333;
  --button: #fff;

  --next-btn-bg: skyblue;
  --prev-btn-bg: #111;
  --next-btn: #fff;
  --prev-btn: #eee;
  
  --quote: #fff;
  --border: #000;

  --border-radius-sm: .5rem;

  --box-shadow: inset .125rem .125rem .225rem rgba(255, 255, 255, .2),
                inset -.125rem -.125rem .25rem rgba(0,0,0, .15),
                .15rem .25rem .5rem rgba(0, 0, 0, .15) ;

  --box-shadow-hover: inset 0rem .1rem .25rem rgba(0, 0, 0 , .15),
                      inset -.25rem -.25rem .25rem rgba(255, 255, 255, .15),
                      0rem .2rem .25rem rgba(0, 0, 0, .2);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  text-align: center;
  position: relative;
  color: var(--sectionText);
  background-color: var(--secondBody);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--link);
  transition: .25s;
}
a:hover {
  color: var(--linkHov);
}

p {
  line-height: 1.6;
  color: var(--sectionP);
}

/* NAV BAR */
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem 5vw;
  z-index: 10;
  background: var(--secondBody);
  box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.1);
}

nav i {
  color: var(--icon);
}

#main {
  padding: 0 0 5vh;
  background: var(--secondBody);
  scroll-margin-top: 10vh;
}


/* HEADER = HERO  */
header{
  color: var(--headText);
  padding: 5vh 5vw;
  /* border: 2px solid red; */
  position: relative;
  isolation: isolate;
  height: 90vh;
  margin-bottom: 5vh;
}
/*header*/
#title {
  font-family: 'Zen Dots', cursive;
  font-size: 2rem;
  font-size: clamp(2.25rem, 5vw, 3rem);
  font-weight: 500;
  margin-bottom: .5rem;
  color: var(--hero-text);
  text-align: left;
  margin-top: 15vh;
  width: 40%;
}

header a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #000, #111);
  padding: .5rem 1rem;
  font-weight: 500;
  width: 10rem;
  text-align: left;
  border-radius: var(--border-radius-sm);
  cursor: default;
  text-transform: capitalize;
}

header a:active {
  transform: scale(.98);
  transition: .125s;
}

#sub-title {
  font-size: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-bottom: 1rem;
  color: var(--headText);
  text-align: left;
  color: var(--hero-text);
}

#img-div {
  background: var(--hero-bg);
  position: relative;
  position: absolute;
  inset: 0;
  z-index: -1;
}
/* IMAGE = 60% ON WIDER SCREENS */
#img-div img {
  /* border: 2px solid blue; */
  right: 0;
  position: absolute;
  height: 100%;
  width: 60%;
  object-fit: cover;
}

#img-caption {
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: .65rem;
  font-size: clamp(.65rem, 1vw, 1rem);
  padding: .5rem;
  color: var(--caption);
  background: var(--imageDiv);

}


#slides {
  padding: 0 5vw;
  margin: 10vh 0 5vh;
  border-radius: 1rem;
  width: 100%;
  position: relative;
  text-align: center;
}
.mySlides {
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  border-left: 2px solid #333;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 50vw;
  height: 70vh;
  object-fit: fill;
  margin: 0 auto;
  /* border-radius: 10px; */
  /* padding: 0; */
}



#slides button{
  /* margin: 5px 60px; */
  margin: 5vh 5vw;
  width: 20%;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 1em;
  cursor: pointer;
  transition: .25s;
  box-shadow: var(--box-shadow);
}

#slides button.next {
  background-color: var(--next-btn-bg);
  color: var(--next-btn);
}
#slides button.previous {
  background-color: var(--prev-btn-bg);
  color: var(--prev-btn);
}

#slides button:hover {
  /* transform: scale(.98); */
  box-shadow: var(--box-shadow-hover);
}


@media (max-width: 768px){
  #slides button:active {
    transform: scale(.98);
  }
  #slides button {
    cursor: default;
  }
}

.slides-caption {
  background-color: #000;
  margin: 0 auto;
  width: 50vw;
  padding: 1em 0;
  color: var(--figcaption);
  font-size: 1rem;
}



/*section*/
/*Quote*/
.quote {
  color: var(--sectionP);
  padding: 5vh 5vw;
  text-align: left;
  /* border: 2px solid red; */
}

.quote h2 {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 2.5vw, 1.5rem);
  margin-bottom: 1.25rem;
}

.quote p {
  margin-bottom: 1rem;
  line-height: 1.8;
  font-size: 1rem;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
}

.quote ul {
  /* border: 2px solid red; */
  line-height: 2;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
}
.quote ul li::first-letter {
  text-transform: capitalize;
} 


/* TRIBUTE-INFO = TITLE WINS*/
#tribute-info {
  background: var(--tribute-info-bg);
  padding: 10vh 5vw;
}
#tribute-info span{
  font-weight: 700;
  padding-left: .5rem;
  font-size: 1rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
  /* letter-spacing: .125rem; */
  color: var(--list-title);
}
#tribute-info h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
}
@media (min-width: 768px) {
  #tribute-info h2 {
    text-align: center;
  }
}

#tribute-info ol {
  /* margin: 0 auto 50px auto; */
  /* padding-left: 5vw; */
  /* border: 2px solid red; */
}

#tribute-info li {
  padding-bottom: 1rem;
  width: 100%;
  text-align: left;
  line-height: 1.8;
  list-style: none;
  color: var(--sectionP);
  font-size: 1rem;
  font-size: clamp(1rem, 2vw, 1.125rem);
  border-bottom: 2px solid #000;
}

#tribute-info a {
  color: var(--link);
  text-decoration: none;
  transition: .3s;
}

#tribute-info a:hover {
  color: var(--linkHov);
  text-decoration: underline;
  transition: .3;
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}


/*end of tribute info*/

/*end of section*/

#link {
  align-items: center;
  padding: 1rem 5vw;
  font-size: 1rem;
}
footer{
  font-size: 1rem;
  align-items: center;
}
footer p{
  text-transform: capitalize;

}
footer a{
  color: var(--link);
  text-decoration: none;
}

/*Media queries*/


@media screen and (max-width: 768px) {
  #img-div {
    /* border: 2px solid red; */
  }
  #img-div img {
    /* border: 2px solid blue; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 10%;
  }

  #title {
    margin-top: 5vh;
  }

  .mySlides {
    height: 40vh;
    width: 100%;
  }

  .slides-caption {
    font-size: .7rem;
    width: 100%;
  }
  #slides button {
    padding: .5em;
  }
}

@media screen and (max-width: 415px){
  
  .mySlides {
    height: 35vh;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
  }
  #slides {
    padding: 0px 5vw;
    width: 100%;
  }
  #slides button{
    margin: 1em 2em;
    width: 25%;
  }
  #tribute-info li{
    margin: .5em 0;
  }
}
/*end of media queries*/



/* THEMES OPTION WRAPPER */
#theme-options-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
  background-color: var(--secondBody);
}
.theme-dot{
  height: auto;
  width: 4rem;
  padding: .25rem 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: .7rem;
  border: none;
  border-radius: var(--border-radius-sm);
  letter-spacing: .05rem;
  transition: .2s ease;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.125);
}
.theme-dot:hover{
  transition: .2s ease;
  transform: scale(.95);
  letter-spacing: normal;
  box-shadow: 0 .125rem .25rem #0003;
}
@media(min-width: 768px){
  .theme-dot:hover {
    cursor: pointer;
  }
}
#light-mode{
  background-color: #fff;
  border: .05rem solid #333;
  color: #252525;
}
#dark-mode{
  background-color: #172633;
  color: #eee;
  
}
#settings-note {
font-size: .65rem;
font-size: clamp(.65rem, 1vw, .85rem);
font-style: italic;
text-align: center;
color: var(--sectionP);
margin: .5rem auto 1rem;
}
/*end of theme options*/
