@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Zen+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid rgba(255, 0, 0, 0.37); */
}

  /*variable colors*/
  :root {
    --mainBody: #eee;
    --secondBody: #f4f4f4;
    --heads: #eee;


    --headText: #333;
    --headLinks: #333;
    --figcaption: skyblue;
    --imageDiv: linear-gradient(90deg, #333, #000, #333);
    --caption: #a8d0fd;
    --sectionLinks: #333;
    --sectionText: #000;
    --link: #dc143c;
    --linkHov: #a52a2a;
    --sectionP: rgb(41, 40, 40);
    --button: #fff;

    --next-btn-bg: #dc143c;
    --prev-btn-bg: #111;
    --next-btn: #fff;
    --prev-btn: #eee;
    
    --quote: #eee;
    --border: #000;

    --box-shadow: inset .25rem .25rem .235rem rgba(255, 255, 255, .2),
                  inset -.25rem -.25rem rgba(0,0,0,.3),
                  .25rem .25rem .25rem rgba(0, 0, 0, .3) ;
    --box-shadow-hover: inset .25rem.25rem .235rem rgba(0,0,0.3),
                        inset -.25rem -.25rem rgba(255, 255, 255, .3);

  }
  /*end of variable colors*/
/*themes option*/
  #theme-options-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.theme-dot{
    height: auto;
    width: 120px;
    margin: 5px 20px;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .2s ease;
    box-shadow: var(--box-shadow);
}
.theme-dot:hover{
    transition: .2s ease;
    transform: translateY(-5px);
}
#light-mode{
    background-color: #fff;
    color: #252525;
}
#dark-mode{
    background-color: #172633;
    color: #eee;
    
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: var(--sectionP);
}
/*end of theme options*/

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

/*main*/
body {
  text-align: center;
  line-height: 1.5;
  color: var(--sectionText);
  background-color: var(--secondBody);
}
header{
  color: var(--headText);
}
#settings-note{
  color: var(--sectionText);
}
#main {
  margin: .5em 5vw;
  padding: 5vh 0;
  background: var(--secondBody);
  border-radius: 5px;
}

span {
  font-weight: 400;
}

/*end of main*/

/*header*/
#title {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 0;
  font-family: 'Zen Dots', cursive;
}

#six {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--headText);
  
}

/*end of header*/

/*image*/

#image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

#slides {
  padding: 0px;
  margin: 0;
  margin-top: 1em;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.mySlides {
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  border-left: 2px solid #333;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 50vw;
  height: 70vh;
  object-fit: fill;
  margin: 0 auto;
  /* border-radius: 10px; */
  padding: 0;
}



#slides button{
  margin: 5px 60px;
  width: 20%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 1em;
  cursor: pointer;
  transition: .2s;
  box-shadow: var(--box-shadow);
}

#slides button.next {
  background-color: var(--next-btn-bg);
  color: var(--next-btn);
}
#slides button.previous {
  background-color: var(--prev-btn-bg);
  color: var(--prev-btn);
}

#slides button:hover {
  transform: scale(.98);
  
}

#slides button:active {
  transition: .2s ease;
  transform: scale(.96);
  color: skyblue;
  outline: none;
  border: none;
}
.slides-caption {
  background-color: #000;
  margin: 0 auto;
  width: 50vw;
  padding: 1em 0;
  color: var(--figcaption);
  font-size: 1.5em;
}
#img-div {
  background: var(--imageDiv);
  padding: 10px;
  /* margin: 0 5vw; */
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
#img-div::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: 1s ease;
  box-shadow: var(--box-shadow);
}
#img-div::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  transition: 1s ease;
  box-shadow: var(--box-shadow-hover);
}

#img-div:hover#img-div:before {
  opacity: 0;
  transition: .5s ease;
}
#img-div:hover#img-div:after {
  transition: 1s ease;
  opacity: 1;
}

#img-div:hover#img-div img {
  transition: .5s ease;
  transform: scale(1.05);
}
#img-div img {
  transition: .5s ease;
}

#img-caption {
  font-size: 1.5em;
  margin: 15px 0 5px 0;
  color: var(--caption);
  background: var(--imageDiv);
  text-align: center;
  z-index: 10;
}

/*end of image*/


/*section*/
/*Quote*/
.quote {
  font-size: 1.6rem;
  line-height: 2;
  padding: 60px;
  color: var(--sectionText);
  margin: 0 ;
  text-align: center;
  text-align: left;
}
.quote a {
  text-decoration: none;
  color: var(--link);
  transition: .2s;
}

.quote a:hover {
  color: var(--linkHov);
  text-decoration: underline;
}



.quote h3 {
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 2.5rem;
  text-align: center;
}

/*end of Quote*/

/*tribute info*/
#tribute-info {
  font-size: 1.8rem;
}
#tribute-info span{
  font-weight: 800;
}
#tribute-info h2 {
  font-size: 2.5rem;
  padding: 5px;
}

#tribute-info h2 {
  margin-top: 50px;
  text-align: center;
}

#tribute-info ol {
  margin: 0 auto 50px auto;
}

#tribute-info li {
  margin: 30px 0;
  padding: 5px;
  border-radius: 10px; 
  text-align: left;
  line-height: 2.9;
  background-color: var(--quote);

}

#tribute-info a {
  color: var(--link);
  text-decoration: none;
  transition: .3s;
}

#tribute-info a:hover {
  color: var(--linkHov);
  text-decoration: underline;
  transition: .3;
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tribute-info li {
  line-height: 2.5;
}

/*end of tribute info*/

/*end of section*/

#link {
  font-size: 2.5rem;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
footer p{
  margin: 0 10px;

}
footer span{
  color: var(--link);
}

/*Media queries*/
@media (max-width: 1024px) {
  
.mySlides {
  height: 640px;
  width: 100%;
}
  #img-caption {
    font-size: 1.2rem;
  }

  #tribute-info li {
    line-height: 2;
    font-size: 1.5rem;
  }

  #tribute-info span {
    font-size: 1.8rem;

  }



  .quote {
    padding: 40px;
    /* max-width: 80vw; */
    /* margin: 0 auto 50px auto; */
    margin: .5em auto;
    text-align: left;
    line-height: 2;
  }

  .quote h3 {
    padding-bottom: 30px;
    font-size: 2rem;
    text-align: center;
  }
  #link{
    font-size: 2rem;
    text-align: center;
  }
/*end of pad pro*/
}

@media screen and (max-width: 768px) {
  /* #main {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  } */
  #title {
    font-size: 3em;
  }

  #six {
    font-size: 2em;
  }
  .mySlides {
    height: 40vh;
    width: 100%;
  }
  #img-div {
    padding: 1px;
    margin: 0;
    border-radius: 15px;

  }
  
  #img-caption{
    margin: 0px;
    font-size: 1rem;
  }
  .quote {
    font-size: 1.4rem;
    padding: 5px;
    text-align: left;
  }

  .slides-caption {
    font-size: 1em;
    width: 100%;
  }
  #slides button {
    padding: .5em;
  }
  #tribute-info h2 {
    font-size: 1.5rem;
    padding: 5px;
  }

  #tribute-info span {
    font-size: 1.3rem;
  }

  #tribute-info li {
    font-size: 1.2rem;
  }
  
}

@media screen and (max-width: 415px){
  
  /* #title{
    font-size: 2em;
  } */
  #settings-note{
    font-size: .6em;
}
  #image{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
  }
  .mySlides {
    height: 35vh;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
  }
  #slides {
    padding: 0px;
    margin-top: 5vh;
    width: 100%;
  }
  
  #img-caption {
    margin: 5px 0 10px 0;
    width: 100%;
    border-bottom-left-radius: 0px;
  }
  #slides button{
    margin: 1em 2em;
    width: 25%;
  }
  .quote {
    font-size: 1.2rem;
    padding: 0 ;
    max-width: 100%;
    text-align: left;
  }
  #link {
    font-size: 1.5rem;
  }
  #tribute-info li{
    margin: .5em 0;
  }
}
/*end of media queries*/

.loader_bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;
  z-index: 99;
  display: grid;
  place-items: center;
}

.loader_bg .loader {
  /* border: 2px solid red; */
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loader .logo {
  /* border: 1px solid #000; */
  background: linear-gradient(0deg, #000, #222);
  box-shadow: var(--box-shadow);
  color: #f4f4f4;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  display: grid;
  place-items: center;
}

.logo p {
  font-size: 1.7rem;
  padding: .5rem;
  font-weight: 700;
}

.loader .bar {
  border: .2rem solid #000;
  box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, .3);
  width: 100%;
  height: 1rem;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.loader .bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(0deg, #000, #222);
  border-radius: 1rem;
  animation: loader 2s infinite;
}

@keyframes loader {
  0%, 100% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(150%);
  }
}